<div class="container mt-3">
  <h1 class=""><%= @task.title %></h1>
  <h3><%= @task.details %></h3>
  <div>
    <%= link_to tasks_path, class: "text-decoration-none"  do %>
      <i class="fa-solid fa-caret-left"></i> Go back
    <% end %>
    <%= link_to edit_task_path , class: "text-decoration-none"  do %>
    <i class="fa-solid fa-pen"></i> Edit
    <% end %>
  </div>
</div>
